@charset "utf-8";

 body { 
	margin:0; 
	padding:0; 
	font-family: quattrocento-sans, serif; 
	text-align: left;
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

#content {
    position:absolute;
    top:0;
    left:0;
    width:300px;
    bottom:0;
    background:#000;
    background:rgba(0, 0, 0, 0.5);
}

#content-title {
	position: absolute;
	top: 2px;
	left: 60px;
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
	padding: 0;
	color: white;
}

#content-txt {
	position: absolute;
	top: 120px;
	left: 20px;
	clear: both;
	float: left;
	margin: 0;
	width: 250px;
	display: block;
	padding: 0;
	color: white;
	text-align: justify;
	line-height: 25px;
}

 #map-ui {
    position: absolute;
    top: 20px;
    right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

#map-ui a {
    /*font: normal 13px/18px 'Helvetica Neue', Helvetica, sans-serif;*/
    background: #FFF;
    color: #3C4E5A;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #BBB;
    border-bottom-width: 0;
    min-width: 138px;
    padding: 10px;
    text-decoration: none;
}

#map-ui a:hover {
    background: #ECF5FA;
}

#map-ui li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui a.active {
    background: #3887BE;
    border-color: #3887BE;
    border-top-color: #FFF;
    color: #FFF;
}
